
<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
            
            <title>C-Test Generator: Im Ausland arbeiten</title>
            <link rel="stylesheet" type="text/css" href="./return_files/c-test.css">
            <script type="text/javascript"> 
            </script> 
        </head>

        <body class="vsc-initialized">
        <h5><strong>Ctest Instructions: Read the text and complete the blanked words.</strong></h5>
            <h3>{{title}}</h3>
                <form action="/ergebnis" method="POST">
                    <p class="test_selbst">
            Der Präsident des Zentralrats der Juden in Deutschland, Schuster, mahnte eine umfassendere Bildung zum Thema Judentum an. Mangelndes<input name="ctest[]">ein <input name="ctest[]">
                    <p class="test_selbst">Score: ____/{{nans}}</p>
                    <p>&nbsp;</p>
                    </p>
                    <input type="submit" name="Ergebnis"> 
            </form> 
    